VsCodeWithSalesforce/.forceignore
VsCodeWithSalesforce/.gitignore
VsCodeWithSalesforce/.prettierignore
VsCodeWithSalesforce/.prettierrc
VsCodeWithSalesforce/README.md
VsCodeWithSalesforce/sfdx-project.json
VsCodeWithSalesforce/.vscode/extensions.json
VsCodeWithSalesforce/.vscode/launch.json
VsCodeWithSalesforce/.vscode/settings.json
VsCodeWithSalesforce/config/project-scratch-def.json
VsCodeWithSalesforce/force-app/main/default/classes/AccountController.cls
VsCodeWithSalesforce/force-app/main/default/classes/AccountController.cls-meta.xml
VsCodeWithSalesforce/force-app/main/default/lwc/.eslintrc.json
VsCodeWithSalesforce/force-app/main/default/lwc/jsconfig.json
VsCodeWithSalesforce/mycomponent/.forceignore
VsCodeWithSalesforce/mycomponent/.gitignore
VsCodeWithSalesforce/mycomponent/.prettierignore
VsCodeWithSalesforce/mycomponent/.prettierrc
VsCodeWithSalesforce/mycomponent/README.md
VsCodeWithSalesforce/mycomponent/sfdx-project.json
VsCodeWithSalesforce/mycomponent/.vscode/extensions.json
VsCodeWithSalesforce/mycomponent/.vscode/launch.json
VsCodeWithSalesforce/mycomponent/.vscode/settings.json
VsCodeWithSalesforce/mycomponent/config/project-scratch-def.json
VsCodeWithSalesforce/mycomponent/force-app/main/default/lwc/.eslintrc.json
VsCodeWithSalesforce/mycomponent/force-app/main/default/lwc/jsconfig.json
VsCodeWithSalesforce/mycomponent/force-app/main/default/lwc/myComponent/myComponent.html
VsCodeWithSalesforce/mycomponent/force-app/main/default/lwc/myComponent/myComponent.js
VsCodeWithSalesforce/mycomponent/force-app/main/default/lwc/myComponent/myComponent.js-meta.xml
VsCodeWithSalesforce/mycomponent/scripts/apex/hello.apex
VsCodeWithSalesforce/mycomponent/scripts/soql/account.soql
VsCodeWithSalesforce/scripts/apex/hello.apex
VsCodeWithSalesforce/scripts/soql/account.soql
VsCodeWithSalesforce/trialhead/.forceignore
VsCodeWithSalesforce/trialhead/.gitignore
VsCodeWithSalesforce/trialhead/.prettierignore
VsCodeWithSalesforce/trialhead/.prettierrc
VsCodeWithSalesforce/trialhead/README.md
VsCodeWithSalesforce/trialhead/sfdx-project.json
VsCodeWithSalesforce/trialhead/.vscode/extensions.json
VsCodeWithSalesforce/trialhead/.vscode/launch.json
VsCodeWithSalesforce/trialhead/.vscode/settings.json
VsCodeWithSalesforce/trialhead/config/project-scratch-def.json
VsCodeWithSalesforce/trialhead/force-app/main/default/lwc/.eslintrc.json
VsCodeWithSalesforce/trialhead/force-app/main/default/lwc/jsconfig.json
VsCodeWithSalesforce/trialhead/force-app/main/default/lwc/myComponent/myFirstWebComponent.html
VsCodeWithSalesforce/trialhead/force-app/main/default/lwc/myComponent/myFirstWebComponent.js
VsCodeWithSalesforce/trialhead/force-app/main/default/lwc/myComponent/myFirstWebComponent.js-meta.xml
VsCodeWithSalesforce/trialhead/scripts/apex/hello.apex
VsCodeWithSalesforce/trialhead/scripts/soql/account.soql
